*.cm*
*.o
pp.ml
version.ml
Makefile
configure
autom4te.cache
config.log
config.status
latexpp.opt
.depend
test.tex
ocaml.ml
._whizzy_test.tex
semantic.cache
testpp.tex
c.ml
tt.ml
why.ml
java.ml
mips.ml
pascal.ml
export
math.ml
asm.ml
